/* Custom styles for the website */
/* Add your custom CSS here to override or extend Bulma styles */



/* Example: Custom colors */
:root {
    --primary-color: #FAAD3D;
    --secondary-color: #0C1840;
    --bulma-primary-h:36;
    --bulma-primary-s:95%;
    --bulma-primary-l:61%;
}
html {
    scroll-behavior: smooth;
}
body{
  /* background: linear-gradient(to bottom,
    rgba(12, 24, 64, 1) 9.1552734375%,
    rgba(250, 173, 61, 1) 62.6220703125%,
    rgba(252, 206, 139, 1) 96.4111328125%
  ); */
  background: var(--secondary-color);
}
footer{
    background: var(--secondary-color);
}
a {
    color: var(--primary-color);
}

.is-filtered-white img {
    filter: brightness(0) invert(1);
}